# Supabase Configuration
VITE_SUPABASE_URL=https://qdsviauasftpciyodbdi.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkc3ZpYXVhc2Z0cGNpeW9kYmRpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzQyMTU3NjksImV4cCI6MjA4OTc5MTc2OX0.RQxjZZGs0byLFEGT5W30EsOl6AKZ7Tkwy5K4ewkHUz4
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFkc3ZpYXVhc2Z0cGNpeW9kYmRpIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDIxNTc2OSwiZXhwIjoyMDg5NzkxNzY5fQ.L4Xn5-_GLIDCcwu728TmBAr5BwKWxRUKP30hiXbPFn4
VITE_ABLY_API_KEY=M56GXg.1hU8Sw:iunADe4zbgb_HWMxKn0NwG5460BAnLdCBedfvXclKkE

# Tiingo Configuration (For Historical Market Data)
TIINGO_API_KEY=
